<h2 id="title">Welcome to Ember</h2>

<h3><a href="http://localhost:3000/admin/posts">http://localhost:3000/admin/posts</a></h3>
<h3><a href="http://localhost:3000/admin/about">http://localhost:3000/admin/about</a></h3>

{{outlet}}
