<h2 id="title">Welcome to Ember</h2>

<h3><a href="http://localhost:4200/posts">http://localhost:4200/posts</a></h3>
<h3><a href="http://localhost:4200/about">http://localhost:4200/about</a></h3>

{{outlet}}
